body {
    font-family: 'impact';
    background-image: url(8A6EA130-44DA-4362-973B-01A862965394.jpeg);
    background-repeat: repeat;
    background-size: 75px;
    font-size: 1.3em;
}
h1 {
    border-style: solid;
    border-color: white:
    border-width: .1em;
}
h3 {
    border-style: solid;
    border-color: white:
    border-width: .1em;
}
p {
    border-style: solid;
    border-color: white:
    border-width: .1em;
}

#jackson {
    border-radius: 50%;
}
