body {
    font-family: 'impact', sans-serif;
    background-image: url(Assets/pattern.webp);
    background-position: center;
    background-attachment: fixed;
    background-repeat: repeat;
    color: #e2e9ff;
    line-height: 1.5em;
    font-size: 1em;
    text-align: center;
}
